body {
    background-color: #f0f5f2;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
#header {
    width: 60%;
    margin: auto;
}
#logo img {
    padding: 10px 0px 0px 0px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 475px;
}
iframe {
    padding: 25px 0px 0px 0px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#space {
    padding: 15px;
}
#footer {
    display: flex;
    justify-content: center;
}
#footer img {
    width: 40px;
    padding: 10px 20px 10px 20px;
}
