body {
    background-image: url(../background.png);
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
a:hover {
      opacity: 0.5;
}
#header {
    width: 60%;
    margin: auto;
}
#logo img {
    padding: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
}
#space {
    padding: 15px;
}
iframe {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#footer {
    display: flex;
    justify-content: center;
}
#footer img {
    width: 40px;
    padding: 10px 20px 10px 20px;
}